
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

/* Styles all */
.bg-light{
    background-color:rgba(255, 144, 14, 0.1) ;
}
.display-flex{
    display: flex;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-size: 3em;
    font-weight: bold;
}.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    
    margin-bottom: 50px;
}
.banner-tittel{
    font-weight: 700;
    font-size: 4em;
}
.btn-primary{
    background-color:#FF900E ;
    padding: 20px 25px ;
    color: aliceblue;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
}
.banner-img{
    width: 100%;
}

/* this is main part */
main>section{
    margin-top: 100px;
}
.Features{
    margin-left: 130px;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
.teams{
    align-items: center;
}

.team-img-conteiner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.section-tittle{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.section-tittle .part-a{
    color: #727272;
    font-weight: 500;
}
.section-tittle .part-b{
    color: #FF900E;
}
.Feature-description{
    color: #727272;
}
/* some facts is niche */
.fact-conteiner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px gray;
}
.fact-number{
    font-size: 2.2rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom:19px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    margin-top: 5px;
}
.description{
    max-width:542px ;
    color: #727272;
    margin-bottom: 30px;
}
/* sponsor */
.sponsor-info{
    max-width: 542px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}
.sponsor-company img{
    filter: grayscale(100%);
}


/* responsive media queary */
@media screen and (max-width:576px) {
   .nav-links, .navbar, .teams{
        flex-direction: column;
    }

    .team-img-conteiner, .fact-conteiner, .sponsor-company{
        grid-template-columns: repeat(1, 1fr);


    }
   .team-img-conteiner{
    width: 100%;
    justify-items: center;
   }
   .Features{
    margin-left: 20px;
   }
   .fact-conteiner, .sponsor-company{
    justify-items: center;
    gap: 14px;
   }

}

/* medium size device */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams {
        flex-direction: column;
    }
    .Features{
        margin-left: 60px auto;
    }
   
    
    .sponsor-company, .fact-conteiner{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 50px;
        gap: 50px;
        justify-items: center;
    }
}